
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_0112WeddingLayout.cshtml";
}


<div class="content" style="padding:10px;opacity:0.7;">
    <div class="container-fluid">
        <form class="form-login" method="post">
            @Html.AntiForgeryToken()
            @*<img class="new-login" src="~/Image/infinitus.jpg" width="250" style="-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;">*@

            <div class="login-wrap">
                <input type="text" name="LoginAccount" class="form-control" placeholder="LoginAccount" required autofocus>
                <br>
                <input type="password" name="Password" class="form-control" placeholder="Password" required>
                <label class="text-danger">@ViewBag.error</label>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-theme btn-block" style="background-color:#70ACD8" type="submit"><i class="fa fa-lock">&nbsp;Sign in</i> </button>

            </div>
        </form>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="/assets/js/jquery.backstretch.min.js"></script>
    <script>
                $.backstretch("/assets_wedding/img/ethancheng/other/login-bg.jpg", { speed: 500 });
    </script>
}
