@model IEnumerable<Wedding_yungching.Uploadinfo>
@{
    ViewBag.Title = "weddingphoto";
    Layout = "~/Views/Shared/_0112WeddingLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">

        <div class="row">

            <div id="wedding_photo">
                @{Html.RenderAction("weddingphoto_show", "Wedding");}
            </div>

        </div>
    </div>
</div>

